form {
  margin: 15px;
}

input {
  font-size: 20px;
  padding: 3px;
}

button {
  margin: 10px;
  background-color: #e7e7e7;
  color: black;
  border-radius: 8px;
  font-size: 20px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

div.error {
  padding: 10px;
  background: #ffefef;
  /* background: rgba(246, 224, 255, 1); */
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
